<settings>
	<category label="Thông tin Account">
		<setting id="usernamef" type="text" label="User name [COLOR gold]fshare.vn[/COLOR]"/>
		<setting id="passwordf" type="text" option="hidden" label="Password [COLOR gold]fshare.vn[/COLOR]"/>
		<setting id="username4" type="text" label="User name [COLOR blue]4share.vn[/COLOR]"/>
		<setting id="password4" type="text" option="hidden" label="Password [COLOR blue]4share.vn[/COLOR]"/>
		<setting id="usernamet" type="text" label="User name [COLOR fuchsia]tenlua.vn[/COLOR]"/>
		<setting id="passwordt" type="text" option="hidden" label="Password [COLOR fuchsia]tenlua.vn[/COLOR]"/>
		<setting id="usernameh" type="text" label="User name [COLOR crimson]HDVietnam.com[/COLOR]"/>
		<setting id="passwordh" type="text" option="hidden" label="Password [COLOR crimson]HDVietnam.com[/COLOR]"/>
		<setting id="mail_dchd" type="text" label="User name [COLOR yellow]dangcaphd.com[/COLOR]" default="xshare@thanhthai.net"/>
		<setting id="pass_dchd" type="text" option="hidden" label="Password [COLOR yellow]dangcaphd.com[/COLOR]" default="123456"/>
	</category>
	<category label="Thông tin khác">
		<setting id="thumucrieng" type="text" label="Thư mục chia sẻ của tôi trên Fshare (ID MyFshare)" default="RDA4FHXVE2UU"/>
		<setting id="thumuccucbo" type="folder" label="Thư mục cục bộ (MyFolder)" default=""/>
		<setting id="googlesearch" type="labelenum" label="Sử dụng phương thức Google search" values="API|Web" default="API"/>
		<setting id="sodonghienthi" type="labelenum" label="Số dòng hiển thị cho 1 trang" values="20|30|50" default="30"/>
		<setting id="uploaders" type="text" label="DS uploaders yêu thích (cách nhau:'-')" default="xemaydinh-hungdaita-truoduc-ledung123-cocongidau-invisible9x-love_yejin-coduocgidau-HDCP-linhlee0709-Coti-henryduc96-luanthieugia"/>
		<setting id="cookie" type="text" label="cookiestring" default="" visible="false"/>
		<setting id="last_update" type="text" label="Lần cập nhật danh mục phim gần nhất" default="2015050101" visible="false"/>
	</category>
	<category label="Các tùy chọn riêng">
		<setting id="logoutf" type="bool" label="Tự động Logout Fshare, 4share.vn, Tenlua.vn (yes/no)" default="true"/>
		<setting id="copyxml" type="bool" label="Tự động Copy list phim xml về MyFolder (y/n)" default="false"/>
		<setting id="autoload_sub" type="bool" label="Tự động load sub trong SubsFolder (y/n)" default="true"/>
		<setting id="autotrans_sub" type="bool" label="Tự động dịch sau khi download sub tiếng Anh (y/n)" default="true"/>
		<setting id="autodel_sub" type="bool" label="Tự động xóa thư mục SubsFolder (y/n)" default="true"/>
		<setting id="hdvnfindall" type="bool" label="Không giới hạn tìm kiếm trên HDVN (All Uploader) (y/n)" default="true"/>
		<setting id="history" type="bool" label="Cho phép hiển thị lịch sử tìm kiếm (y/n)" default="true"/>
		<setting id="phim18" type="bool" label="Kích hoạt xem phim 18+ (y/n)" default="false"/>
		<setting id="checkdatabase" type="bool" label="Mở chế độ kiểm tra database cho xshare (y/n)" default="false"/>
		<setting id="thank2xshare" type="bool" label="Cho phép tự động cảm ơn xshare trong hdvn (y/n)" default="true"/>
		<setting id="pagethanked" type="text" label="Trang cuối đã get thank cho xshare" default="1" visible="false"/>
	</category>
</settings>
